.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: $spacing-small;
  background: none;
  border: none;
  
  @media (max-width: #{$tablet - 1px}) {
    display: flex;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: $text-color;
    margin: 3px 0;
    @include transition(all, 0.3s);
  }
  
  &.active {
    .line:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .line:nth-child(2) {
      opacity: 0;
    }
    
    .line:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
